<div class="card">
    <div class="card-body">
        <form action="/admin/User/painel" method="POST">
    <div class="row">
    <div class="col">
    <label for="nome">Nome: </label>
        <input class="form-control" type="text" id="nome" name="nome" placeholder="Nome">   
    </div>
    <div class="col">
    <label for="nome">Sobrenome: </label>
        <input class="form-control" type="text" id="sobrenome" name="sobrenome" placeholder="sobrenome">
    </div>
  </div>    
    <div class="container mt-2"></div>
    <label for="nome">Email: </label>
    <input class="form-control" type="text" id="email" name="email" placeholder="Email">
    <div class="container mt-2"></div>
    <label for="nome">Senha: </label>
    <input class="form-control" type="password" id="senha" name="senha" placeholder="Senha">
    <div class="container mt-2"></div>
    <label for="nome">Nome de usuário no PicPay: </label>
    <input class="form-control" type="text" id="picpay" name="picpay" placeholder="Nome de usuário">
     <div class="row">
    <div class="col">
        <div class="container mt-2"></div>
    <label for="nome">CPF: </label>
        <input class="form-control"  type="text" id="cpf" name="cpf" placeholder="Dgite seu CPF">   
    </div>
    <div class="col">
        <div class="container mt-2"></div>
    <label for="nome">Nº Chamada: </label>
        <input class="form-control" type="text" id="chamada" name="chamada" placeholder="Número da chamada">
    </div>
  </div> 
  <div class="container mt-2"></div>
    <button type="submit" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Verifique todos os campos.">
  Cadastrar
</button>
</form>
    </div>
</div>
