
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Atenção Administrador!</h4>
  <p>Abaixo existem duas possibilidades onde, uma delas é para cadastro de novos usuários bem como a seguinte é para a alteração da situação de pagamento de um usuário já cadastrado.</p>
  <hr>
  <p class="mb-0">Selecione a opção desejada.</p>
</div>

<a href="/admin/NewUser"><button type="button" class="btn btn-primary btn-lg btn-block">Cadastrar</button></a>
<div class="container mt-2"></div>
<button type="button" class="btn btn-primary btn-lg btn-block">Atualizar</button>